.home-container {
    padding: 2rem 4rem;
}

.header {
    justify-content: left;
    margin-bottom: 3rem;
}

.subtitle {
    font-size: 1.2rem;
}

.projects-list {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.15rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}