* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #fff;
  --primary: #292978;
  --accent: #DF64B2;
}


/* Inter regular: 400, medium 500, semibold 600 */

a {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: var(--accent);
  text-decoration: underline;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--primary);
  text-align: left;
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  color: var(--primary);
  text-align: left;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color: var(--primary);
  text-align: left;
}

